<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Mohamed Awad</title>
</head>

<body>
    <header>
        <a href="../index.html" class="logo">MA</a>
        <nav class="navigation-bar">
            <a href="../index.html" style="font-size: 1.3em;"><i class="fa-solid fa-house"></i></a>
        </nav>
    </header>

    <section class="main">
        <div class="main-container">
            <h2>Hello, I'm Mohamed<br><span>Flutter Developer</span></h2>
            <h3>Building Cross-Platform Mobile Apps</h3>
            <a href="#projects" class="main-btn">My Work</a>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/mohamed-awad-b26444255" target="_blank"><i
                        class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://x.com/Moohamed_Awad" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com/mohamed___3wad/" target="_blank"><i
                        class="fa-brands fa-instagram"></i></a>
                <a href="https://discord.com/users/577278992336551936" target="_blank"><i
                        class="fa-brands fa-discord"></i></a>
            </div>
        </div>
    </section>

    <section id="projects-description" class="cards">
        <h2 class="title">LingoLicht</h2>
        <div class="content">
            <div class="project-details">
                <p>This Application if for Learning The German Language For Beginners. <br> It contain pages like
                    Numbers, Family Members, Colors, Jobs, Body Parts and Phrases to learn the language easily.
                </p>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/LingoLicht_App/LingoLicht_Initial_Page.png" alt="LingoLicht Home Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Home Page</span>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/LingoLicht_App/LingoLicht_Jobs_Page.png" alt="LingoLicht Jobs Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Jobs Page</span>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/LingoLicht_App/LingoLicht_Family_Memebers_Page.png"
                        alt="LingoLicht Family Members Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Family Members Page</span>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/LingoLicht_App/LingoLicht_Phrases.png" alt="LingoLicht Phrases Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Phrases Page</span>
                    </strong>
                </div>
            </div>
        </div>
    </section>

    <section id="projects-description" class="projects">
        <h2 class="title">NewsRadar</h2>
        <div class="content">
            <div class="project-details">
                <p>This Application if for getting the top headlins news in the world. <br> It have a home page
                    that display gaza news and trending news.<br> There is 7 categories of news: ['General' -
                    'Business' - 'Entertainment' - 'Health' - 'Science'
                    - 'Sports' - 'Technology'].
                </p>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/NewsRadar_App/NewsRadar_Initial_Page.png" alt="NewsRadar Initial Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Get Started</span>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/NewsRadar_App/NewsRadar_Home_Page.png" alt="NewsRadar Home Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Home Page</span>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/NewsRadar_App/NewsRadar_Category_Page.png" alt="NewsRadar Category Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Certain Category Page</span>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/NewsRadar_App/NewsRadar_News_Webview_Page.png" alt="NewsRadar Webview Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Open A Specific News Web Page</span>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/NewsRadar_App/NewsRadar_Gaza_News_Page.png" alt="NewsRadar Gaze News Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Gaze News Page</span>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/NewsRadar_App/NewsRadar_Trending_News_Page.png" alt="NewsRadar Trending News Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Trending News Page</span>
                    </strong>
                </div>
            </div>
        </div>
    </section>

    <section id="projects-description" class="cards">
        <h2 class="title">TempTrack</h2>
        <div class="content">
            <div class="project-details">
                <p>This Application if for Getting the Current weather status and conditions by searching for the city
                    to get the weather too. <br> There is different icons for each weather condition, weather details
                    like [condition - max temp - min temp
                    - average temp - ...].<br> Different app themes depending on the weather condition.
                </p>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/TempTrack_App/TempTrack_Intial_Page_With_BG.png" alt="TempTrack Initial Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Initial Page</span>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/TempTrack_App/TempTrack_Gaza_Weather_Page.png" alt="TempTrack Gaza Weather Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Gaza Weather Page</span>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/TempTrack_App/TempTrack_Tokyo_Weather_Page.png"" alt="TempTrack Tokyo Weather Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Tokyo Weather Page</span>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/TempTrack_App/TempTrack_Guatemala_Weather_Page.png" alt="TempTrack Guatemala Weather Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Guatemala Weather Page</span>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/TempTrack_App/TempTrack_Zagreb_Weather_Page.png" alt="TempTrack Zagreb Weather Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Zagreb Weather Page</span>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="../assets/images/TempTrack_App/TempTrack_Monaco_Weather_Page.png" alt="TempTrack Monaco Weather Page">
                </div>
                <div class="project-info">
                    <strong class="project-title">
                        <span>Monaco Weather Page</span>
                    </strong>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <p class="footer-title">Copyrights @ <span>Mohamed Awad</span></p>
        <div class="social-icons">
            <a href="www.linkedin.com/in/mohamed-awad-b26444255" target="_blank"><i
                    class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://x.com/Moohamed_Awad" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/mohamed___3wad/" target="_blank"><i
                    class="fa-brands fa-instagram"></i></a>
            <a href="https://discord.com/users/577278992336551936" target="_blank"><i
                    class="fa-brands fa-discord"></i></a>

        </div>
    </footer>
</body>

</html>